#redh {
font-size: 300;
color: red;
}

#blue2 {
font-style:italic;
font-weight:lighter;
color: green;
text-indent:30px
}

#text_ {
text-indent:15px;
}

h4 {
border-left:20px dotted;
}
#mar {font-size: 25px;
font-family: Verdana;
font-variant:small-caps;
margin:0px 30px 0px 50px;
}
#mar2 {font-size: 20px;
margin:30px 200px 0px 100px;
}
#err {margin:-25px 1000px 0px 100px;
font-size: 20px;
color: blue2;
}
